#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Logo {
  position: absolute;
  margin: 0;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  max-height: 15em;
  padding: 1.5em;
}

.glass-box {
  /* From https://css.glass */
  background: rgba(250, 250, 250, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 1px solid rgba(250, 250, 250, 0.26);
}

.action-button {
  color: #383582 !important;
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.action-button--active {
  color: #383582 !important;
  border-bottom: 2px solid #383582 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

input[type="file" i] {
  display: none;
}

.custom-file-upload {
  width: 20rem;
  height: 5rem;
  padding: 1rem;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  color: #383582 !important;
  border: 2px dashed #383582;
  border-radius: 4px;
}

.custom-file-upload--item-submitted {
  border: 2px solid #383582;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media only screen and (max-width: 600px)  {
  .Logo {
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    max-width: 25em;
    padding: 1.5em;
  }
}